*{
    margin: 0;
    padding: 0;
   
  }
  
  main{
    width:100%;
    height: 100vh;
  }

  .navbar{
    display: flex;
    justify-content: right;
    
  }

  .logo-img{
    width: 30px;
    height: 60px;
    margin-top: 10px;
  }

  .l-name{
    margin-right: 770px;
  }

  .logo-name{
    margin-top: 29px;
    color: black;
    font-family: 'Copperplate Gothic Light';
    font-weight: bolder;
    font-size: 17px;
    margin-left: 5px;

  }
  
  .header-text{
    list-style: none;
    display: inline-block;
    padding: 30px;
    position: relative;
    text-align: center;
  }
  
  .navbar a{
    color:black;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    font-family: 'Copperplate Gothic Light';
  }
  
  .navbar a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .navbar a:hover::after{
    width: 100%;
  }

  .main {
    display: flex;
  }
  
  .container-img {
    flex: 1;
  }

  .img-1 {
    height: 300px;
    width: 390px;
    padding-top: 150px;
    margin-left: 200px;
  }
  

  .content {
    flex: 1;
    display: flex;

  }

  .form{
    margin-right: 150px;
    margin-top: 30px;
    justify-content: center;

  }

  .form-h1{
    font-family: 'Footlight MT Light';
    text-align: center;
    color: black;
    font-size: 33px;
    font-weight: bolder;
    margin-bottom: 60px;
  }


  .user-details {
    display: inline-block;
    margin-right: 20px;
  }

  .user-details label{
    font-family: 'Copperplate Gothic Light';
    font-weight: bolder;
    font-size: 17px;
  }

  .user-details input{
    width: 250px;
    height: 40px;
    background:#D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    color:black;
    font-size: 17px;
    font-family: 'Footlight MT Light';
  }

  .input-box{
    margin-top: 20px;
  }

  .input-box label{
    font-family: 'Copperplate Gothic Light';
    font-weight: bolder;
    font-size: 17px;
  }

  .input-box input{
    width: 525px;
    height: 40px;
    background:#D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    color:black;
    font-size: 17px;
    font-family: 'Footlight MT Light';
  }

  .message{
    margin-top: 10px;
  }

  .message label{
    font-family: 'Copperplate Gothic Light';
    font-weight: bolder;
    font-size: 17px;
  }

  .message textarea{
    width: 525px;
    background:#D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    color:black;
    font-size: 17px;
    font-family: 'Footlight MT Light';
  }

  #btn{
    width: 200px;
    height: 50px;
    background: #105C7E;
    border: none;
    font-size: 22px;
    font-weight: bolder;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    margin-top: 30px;
    margin-left: 170px;
    font-family: 'Copperplate Gothic Light';
  }


