*{
    margin: 0;
    padding: 0;
   
  }
  
  main{
    width:100%;
    height: 100vh;
  }

  .navbar{
    display: flex;
    justify-content: right;
    
  }

  .logo-img{
    width: 30px;
    height: 60px;
    margin-top: 10px;
  }

  .l-name{
    margin-right: 570px;
  }

  .logo-name{
    margin-top: 29px;
    color: black;
    font-family: 'Copperplate Gothic Light';
    font-weight: bolder;
    font-size: 17px;
    margin-left: 5px;

  }
  
  .header-text{
    list-style: none;
    display: inline-block;
    padding: 30px;
    position: relative;
    text-align: center;
  }
  
  .navbar a{
    color:black;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    font-family: 'Copperplate Gothic Light';
  }
  
  .navbar a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .navbar a:hover::after{
    width: 100%;
  }


.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left:170px;

}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 7px 3px;
    
}
.input-field label{
    font-size: 17px;
    font-weight: bolder;
    color: black;
    font-family: 'Footlight MT Light';
  
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    width: 50%; 
    border-radius: 10px;
    border: 1px solid #D9D9D9 ;
    background-color: #D9D9D9;
    padding: 3 15px;
    height: 42px;
    margin: 8px 0;
    font-family: 'Footlight MT Light';
}
.card {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 35px;
  background-color: #D9D9D9;
}
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  margin-top: 20px;
  height: 90px;
  left: 50%;
  transform: translateX(-57%);
  width: 80.33%;
  max-width: 350px;
  margin: 10px;
}


.cards1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.cards2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.cards3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.cards4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.card .text{
  width: 100%;
  margin-top: 78px;
  position: absolute;
  bottom: 125px;
  left: 5px;
  width: 100%;
  color: black;
  text-align: center;
  
}
.card .info img{
  width: 7%;
  position: absolute;
  bottom: 17px;
  left: 20px;
}
.card .info h5{
  width: 15%;
  position: absolute;
  bottom: 20px;
  left: 50px;
}
.card .location img{
  width: 7%;
  position: absolute;
  bottom: 17px;
  right: 75px;
}
.card .location h5{
  width: 15%;
  position: absolute;
  bottom: 20px;
  right: 15px;
}
.footer{
  height: 350px;
  background-color: #D9D9D9;
  width: 100%;
}

.footer1{
  text-align: center;
  color:black;
  margin-top: 50px;
}

.footer-h{
  font-family: 'Footlight MT Light';
  color: black;
  font-size: 25px;
  padding-top: 40px;

}

.list{
  list-style: none;
  display: inline-block;
  padding: 50px;
  position: relative;
  text-align: center;
}

.menu-list a{
  color:black;
  text-decoration: none;
  font-size: 19px;
  font-weight: bolder;
  font-family: 'Copperplate Gothic Light';
}

.socials{
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.socials img{
  width: 40px;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.footer-p2{
  color:black;
  font-size: 17px;
  font-family: 'Footlight MT Light';
  padding-top: 70px;
}





::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #001500;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: rgb(230, 230, 230);
  background-image: -webkit-gradient(linear,
                  40% 0%,
                   75% 84%,
            from(white),
            to(white),
            color-stop(.8, rgb(227, 238, 227)))
}

