*{
  margin: 0;
  padding: 0;
}

main{
  width:100%;
  
}

.navbar{
  display: flex;
  justify-content: right;
  
}

.logo-img{
  width: 30px;
  height: 60px;
  margin-top: 10px;
}

.l-name{
  margin-right: 600px;
}

.logo-name{
  margin-top: 29px;
  color: black;
  font-family: 'Copperplate Gothic Light';
  font-weight: bolder;
  font-size: 17px;
  margin-left: 15px;

}

.header-text{
  list-style: none;
  display: inline-block;
  padding: 30px;
  position: relative;
  text-align: center;
}

.navbar a{
  color:black;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
  font-family: 'Copperplate Gothic Light';
}

.navbar a::after{
  content: '';
  width: 0%;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navbar a:hover::after{
  width: 100%;
}



img{
  height: 400px;
  width: 470px;
  margin-top: 30%;
  margin-left: 40%;
}

.korniza{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container{
  margin-right: 200px;
  margin-top: 40px;
  background-color: #D9D9D9;
  width:520px;
  height: 550px;
  align-items: center;
  border-radius: 70px;


}

.form-h2{
  font-family: 'Footlight MT Light';
  padding-top: 60px;
  padding-bottom: 50px;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  color: black;
}

label{
  font-family: 'Copperplate Gothic Light';
  margin-left: 5%;
  font-size: 20px;
  font-weight: bold;
}

#username{
  background-color: #F5F5F5;
  width: 470px;
  height: 60px;
  border-radius: 20px;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  font-family: 'Footlight MT Light';
}

#password{
  background-color: #F5F5F5;
  width: 470px;
  height: 60px;
  border-radius: 20px;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 50px;
  border: none;

}

#butoni{
  font-family: 'Copperplate Gothic Light';
  border-radius: 20px;
  background-color: #105C7E;
  font-size: 25px;
  color: white;
  font-weight: bold;
  border: none;
  width:155px;
  height:68px;
  margin-left: 35%;
  font-size: 22px;
}